//
// Do any local configuration here
//

zone "example.com" IN {
         type slave;
         file "/etc/bind/zones/db.example.com.internal.zone";
         masters { 10.1.19.11; };
};

zone "19.1.10.in-addr.arpa" IN {
         type slave;
         file "/etc/bind/zones/db.19.1.10.in-addr.arpa.rev.zone";
         masters { 10.1.19.11; };
};

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
